.work-section {
    padding: 80px 50px;
  }
  
  .work-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .work-card {
    width: 20%;
    background-color: rgb(44, 46, 56);
    margin: 10px;
    padding: 50px 50px 50px 50px;
  }
  
  @media screen and (max-width: 1000px) {
    .work-card {
      width: 100%;
    }
    .bounce {
      padding: 50px 0 0 0;
    }
  }
  
  .html {
    border-top: solid 8px rgb(242, 128, 87);
  }
  
  .html {
    border-top: solid 8px rgb(242, 128, 87);
  }
  
  .css {
    border-top: solid 8px rgb(88, 130, 203);
  }
  
  .js {
    border-top: solid 8px rgb(3, 114, 114);
  }
  
  .react {
    border-top: solid 8px rgb(239, 255, 66);
  }